<ion-header>
  <ion-toolbar class="barra_biblioteca">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center">
      Biblioteca <ion-icon name="filing" size="large"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item class="fondo" *ngFor ="let pajaro of pajaros">
        <ion-card color="light">
          <ion-card-header class="barra_ave">
            <ion-card-title color="primary"><div [innerHTML]="pajaro.nombre"></div></ion-card-title>            
          </ion-card-header>
          <ion-img [src]="pajaro.imagen"></ion-img>
          <!-- Nombre Cientifico e Ingles-->
          <br><div [innerHTML]="pajaro.nombre_cientifico" class="nombre_cientifico" style="text-align:center"></div>
          <!-- -->
          <ion-card-content>
            <div [innerHTML]="pajaro.contenido" class="ion-text-justify"></div>
          </ion-card-content>
          <!-- BOTON VER MAS-->
          <ion-card-subtitle class="ion-text-center">
            <ion-button (click)="canto(pajaro.sonido)">
              Ver Mas <ion-icon name="add-circle"></ion-icon>
            </ion-button>
          </ion-card-subtitle><br>
          <!-- -->
          <!--
          <ion-card-subtitle class="ion-text-center">
            <ion-button (click)="canto(pajaro.sonido)">
              Canto <ion-icon name="musical-note"></ion-icon>                
            </ion-button>
            <ion-button (click)="canto(pajaro.sonido)">
              Ubicación <ion-icon name="pin"></ion-icon>                
              </ion-button>              
            </ion-card-subtitle><br>
            -->
        </ion-card>
      </ion-item>
    </ion-list>
</ion-content>
