<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Biblioteca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item  *ngFor ="let pajaro of pajaros">
        <ion-card>
          <ion-card-header>
            <ion-card-title><div [innerHTML]="pajaro.nombre"></div></ion-card-title>            
          </ion-card-header>
          <ion-img [src]="pajaro.imagen"></ion-img>
          <ion-card-content>
            <div [innerHTML]="pajaro.contenido" class="ion-text-justify"></div>
          </ion-card-content>
          <ion-card-subtitle class="ion-text-center">
            <ion-button (click)="canto(pajaro.sonido)">
              Canto <ion-icon name="musical-note"></ion-icon>                
            </ion-button>
            <ion-button (click)="canto(pajaro.sonido)">
              Ubicación <ion-icon name="pin"></ion-icon>                
              </ion-button>              
            </ion-card-subtitle><br>
        </ion-card>
      </ion-item>
    </ion-list>
</ion-content>
