<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item  *ngFor="let photo of photoService.photos">
        <ion-card>  
            <ion-img [src]="photo.data"></ion-img>
          <ion-card-content>
            <p>Latitud: {{photo.latitud}}</p>
          </ion-card-content>
          <ion-card-content>
              <p>Altitud: {{photo.longitud}}</p>
            </ion-card-content>        
        </ion-card>
      </ion-item>
    </ion-list>
    <ion-fab-button (click)="photoService.TomarFoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button> 
</ion-content>
