ion-content.background {
    --background: url('/assets/img/Identificar_foto.png') 0 0/100% 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 246px;
    margin: auto;
    z-index: 2;
    position: relative;
}

ion-toolbar.barra_superior {
    --background: #99B83C;
    --border-color: #A8B17F;
    --border-style: solid;
    --border-width: thin;
    --color: white;
    --min-height: min-content;
    --opacity: 1;
}

.espacio_camara {
    padding: 5px;
    margin: 5px;
    background-color: transparent !important;
    border: solid 200px transparent !important;
    border-radius: 15px 50px 30px;
    color: black;
}