<ion-header>
  <ion-toolbar class="barra_superior">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Camara</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
    <!-- Espacio para colocar los botones despues-->
    <br>
    <div class="espacio_camara" style="text-align:center"></div>
    <!-- -->
    
    <ion-card-subtitle class="ion-text-center">
      <!-- Tomar Foto-->
      <ion-button (click)="TomarFoto()">
        Tomar Foto <ion-icon name="md-camera"></ion-icon>
      </ion-button>
      <img *ngIf="image" [src]="image" alt="image">
      &nbsp;
      <!-- Subir Foto desde el Telefono-->
      <ion-button color="success" (click)="TomarFoto()">
        Subir Foto <ion-icon name="images"></ion-icon>
      </ion-button>
      <img *ngIf="image" [src]="image" alt="image">
    </ion-card-subtitle><br>

</ion-content>
