<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  </ion-list>

  <div>
    <ion-button expand="block" padding color="primary" (click)="prosesLogin()">Iniciar Sesión</ion-button>
    <ion-button expand="block" padding color="primary" fill="outline" (click)="Registro()">Registrarse</ion-button>
  </div>

</ion-content>
